baseURL = "https://farmerjimbo.github.io/blogito/"
languageCode = "en-us"
title = "Blogito"
theme = "PaperMod"

[params]
  defaultTheme = "auto"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true