{{- define "main" }}

{{- if .IsHome }}
<div class="home-banner"></div>
{{- end }}

{{- if site.Params.profileMode.enabled }}
{{- partial "index_profile.html" . }}
{{- else }}
{{- if site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ site.Params.homeInfoParams.Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p>{{ site.Params.homeInfoParams.Content | markdownify }}</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end }}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $paginator := .Paginate $pages }}
{{- range $paginator.Pages }}
{{- partial "post_entry.html" . }}
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
{{- partial "pagination.html" . }}
{{- end }}
{{- end }}

{{- end }}{{/* end main */}}
